body {
    background-color: whitesmoke;
    font-family: wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: #777;
    min-width: 320px;
}

header {
    padding: 10px 0;
}

.logo {
    color: #999;
    -webkit-text-shadow: 0px 1px 0px #fff;
    text-shadow: 0px 1px 0px #fff;
    font-size: 20pt;
    font-family: Georgia, serif;
    font-weight: normal;
}

footer {
    margin: 20px 0;
    text-align: center;
}

.body-container {
    padding-bottom: 80px;
    background-color: white;
}

.product-item {
    padding-top: 60px;
}

.product-item div {
    margin: 5px 0;
}

.product-item .product-photo {
    height: 300px;
}

.product-item .product-price {
    color: #bb4646;
}

table.cart {
    width: 100%;
}

table.cart input {
    width: 60px;
}

.cart-product-image {
    width: 50px;
    text-align: center;
}

.cart-product-image img {
    height: 80px;
}

.filters-and-sorts div {
    font-size: .7em;
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}
.filters-and-sorts ul {
    margin-top: 5px;
}
.filters-and-sorts .selected {
    background-color: #d0d0d0;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .logo {
        font-size: 14pt;
    }

    .product-item {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-item:nth-child(2n+1) {
        clear: both;
    }
}

@media (min-width: 992px) {
    .product-item:nth-child(4n+1) {
        clear: both;
    }
}


div[ng-view].ng-enter {
    transition: all 0.5s linear;
    opacity: 0;
}

div[ng-view].ng-enter-active {
    opacity: 1;
}

